<nav class="navbar navbar-custom" data-controller="navbar">
  <div class="container-fluid d-flex align-items-center">
    <!-- Logo -->
    <%= link_to root_path do %>
      <%= image_tag 'logo-nav.svg', alt: 'logo', class: 'techni-little-logo' %>
    <% end %>

    <!-- Burger Menu Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-action="navbar#toggle"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse banner-menu" id="navbarNav" data-navbar-target="menu">
      <div class="banner-content">
        <div class="banner-menu-items">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link custom-nav-link" href="<%= services_path %>">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" href="<%= meet_path %>">MEET THE TEAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" href="<%= contact_path %>">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
